@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    background-color:black;
}

header {
  background-image: url("https://cdn.pixabay.com/photo/2019/10/18/15/41/basketball-4559472_960_720.jpg");
  background-position: bottom;
  margin-right: 10px;
}




/* .flexCenter {
    display: flex;
    justify-content:center;
    text-align: center;
    color: #FA8320; 
  }

.flexSpaceAround {
    display: flex;
    justify-content: space-around;
  }
  
.flexColumn {
    display: flex;
    flex-direction: column;
  } */