@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    background-color:black;
}

header {
  background-image: url("https://cdn.pixabay.com/photo/2019/10/18/15/41/basketball-4559472_960_720.jpg");
  background-position: bottom;
  margin-right: 10px;
}


#ballers {
  display:flex;
  
}

